/* --------------------------------------------------------------------- */
/*                            GENERALS                                   */
/* ----------------------------------------------------------------------*/

*{
  font-family: 'Rajdhani', sans-serif;
}
h1{
    font-family: 'Nova Square', cursive;
}
:root{
    --red-color: darkred;
    --gray: gray;
}

.tc-gray{
    color: var(--gray);
}

.tc-red{
    color: var(--red-color);
}
.bg-gray{
    background-color:  #ececec;
 }
.bg-red{
    background-color: var(--red-color);
 }
.tc-white{
    color: white;
}

/* --------------------------------------------------------------------- */
/*                             HEADER                                    */
/* ----------------------------------------------------------------------*/


.img-header{
    height: 100px;
}

/* --------------------------------------------------------------------- */
/*                             NAVBAR                                    */
/* ----------------------------------------------------------------------*/

.nav-shadow{
    z-index: 1;
    box-shadow: 0px 27px 32px 26px #FFFFFF;
}
.red-navbar .nav-link{
    color: var(--gray); 
}
.red-navbar .nav-link:hover{
    font-weight: bold;
    color: var(--red-color);
    transform: scale(1.1);
    transition: all 0.3s;
}


/* --------------------------------------------------------------------- */
/*                        MAIN SECTION                                   */
/* ----------------------------------------------------------------------*/

.masthead{
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255, 254, 254, 0.856) ,rgba(128, 128, 128, 0.404)),url('./media/headpicture.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.text-main{
    letter-spacing: 60px;
    /* margin-top: auto;
    margin-bottom: auto; */
}

.img-main{
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px; 
}


/* --------------------------------------------------------------------- */
/*                         QUOTE SECTION                                 */
/* ----------------------------------------------------------------------*/


 .text-quote{
    font-style: oblique;
    text-justify:newspaper;
 }


/* --------------------------------------------------------------------- */
/*                       POINTER SECTION                                 */
/* ----------------------------------------------------------------------*/

 .pointer-point{
     position: relative;
     width: 75%;
     margin: auto auto;
     border-bottom: 2px solid var(--red-color);
 }

.pointer-image{
    position: relative;
    bottom: -10px;
    height: 20px;
    width:20px;
    border: 2px solid var(--red-color);
    border-radius: 50%;
    background-color: white;
    margin: auto;
}


/* --------------------------------------------------------------------- */
/*                        TREES-SECTION                                  */
/* ----------------------------------------------------------------------*/


.trees-sec{
    position: relative;
    height: 400px;
}

.img-trees{
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
}
.button-trees{
    position: relative;
    height: 50px;
    width:200px;
    top: calc(40% - 25px);
    z-index: 1;
}

.button-trees:hover{
    background-color: #fff;
    color: var(--red-color);
    font-weight: bold;
    border: 1px solid var(--red-color);

}
/* --------------------------------------------------------------------- */
/*                        TIMELINE SECTION                               */
/* ----------------------------------------------------------------------*/


.pointer-timeline{
    margin-left: 20px;
    width:300px;
    height: 180px;
    border-left:3px solid var(--red-color);
    position: relative;
}
.pointer-point-timeline{
    position: absolute;
    top: 0;
    left:-12px;
    height: 20px;
    width:20px;
    border: 2px solid var(--red-color);
    border-radius: 50%;
    background-color: white;
}
.pointer-timeline-last{
    position: relative;
    margin-left: 20px;
    height: 170px;
    width: 300px;
    border-left:3px solid var(--red-color);
    
}
.img-single-tree{
    position: absolute;
    bottom: -40px;
    right: 20px;
}

/* --------------------------------------------------------------------- */
/*                           TEAM SECTION                                */
/* ----------------------------------------------------------------------*/

.img-team{
    height: 150px;
    width: 150px;
    border:2px solid var(--red-color);
    padding:10px;
    border-radius: 50%;
}
.text-team{
    font-style: oblique;
    font-size: 13px;

 }

/* --------------------------------------------------------------------- */
/*                       BENEFIT SECTION                                 */
/* ----------------------------------------------------------------------*/


.img-benefit{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid var(--red-color);
}


/* --------------------------------------------------------------------- */
/*                              FOOTER                                   */
/* ----------------------------------------------------------------------*/

.text-footer{
    font-size: 14px;
}
.text-footer-link{
    margin-left: -15px;
    text-decoration: none;
}



/* --------------------------------------------------------------------- */
/*                         MEDIA QUERIES                                 */
/* ----------------------------------------------------------------------*/

@media screen and (max-width: 992px ){
    .red-navbar .navbar-toggler{
        position:relative;
        margin: auto;
        display: block;
    }
    .red-navbar .nav-item{
        text-align: center;
    }
}

@media screen and (max-width: 657px ){
    .text-main{font-size: 20px; letter-spacing: 30px;}
}

@media screen and (max-width: 895px ) and (min-width: 1250px){
    .button-trees{top: calc(50% - 20px);}
}

@media screen and (max-width: 900px) {
    .img-single-tree{display: none;}
}

@media screen and (max-width: 767px) {
    .text-footer-list{list-style-type: none; margin-right: 20px;}
}